#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.logo {
  height: 20em;
  width: auto;
  padding: 0;
  margin-bottom: 0;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

a {
  display: inline-block;
  width: fit-content;
}

.logo-container {
  height: 200px;
  line-height: 0;
}

.logo:hover {
  filter: drop-shadow(0 0 .2em #ff0000aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 .2em #ff0000aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


